# ─── Node ─────────────────────────────────────────────────────────────────────
node_modules/
dist/
dist-ssr/
*.local

# ─── Python ───────────────────────────────────────────────────────────────────
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# ─── SSL Certs ────────────────────────────────────────────────────────────────
ssl/
logs/
attachments/
.DS_Store
.idea/
.vscode/
